{% load static %}
<html>
<head>
  <title> Katharinas Blog </title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
  <a class="btn btn-default" href="{% url 'post_list' %}"><span class="glyphicon glyphicon-home"></span></a>
<div>
<p> Ganz schön viel Werkzeug braucht man da aber, nämlich: </p>
<ul>
  <li> Einführung in die Console </li>
  <li> Einführung in Python </li>
  <li> Einführung in Django </li>
  <li> Einführung in HTML und CSS: Checkout <a href="https://www.w3schools.com/html/" target="_blank">HTML5 tutorial!</a>
 </li>
  <li> und Verknüpfungen davon (ok ok <em>alles</em> hab ich nicht verstanden) </li>
</ul>

</div>
  <p style = "color:red"> Wie das geht? Nachzulesen bei: <a href="https://djangogirls.org" target="_blank">DjangoGirls</a></p>
  <p style = "color:green"> Danke an Alexandra für den Tipp bzgl Django Girls :-) </p>
<p title = "Erwischt :-)">
Ich bin ein neuer Paragraph - was verbirgt sich hinter mit?
</p>
<p> So, jetzt aber zur <em>eigentlichen</em> Aufgabe... </p>
<body>

</body>
</html>
