{% load static %}
<html>
<head>
  <title> Katharinas Django Blog </title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<div class="page-header">
  {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class = "top-menu" ><span class="glyphicon glyphicon-plus"></span></a>
  {% endif %}
    <h1><a href="/">Katharinas Django Blog</a></h1>
</div>

<h1 style = "color:purple"> Das wäre also Katharinas erste Django-Webpage </h1>
<h2> Erstellt mit Hilfe des Django-Girls Tutorials: <a href="https://djangogirls.org" target="_blank">DjangoGirls</a> </h2>
<h3> Gestartet am: 03.04.2020 </h3>

<p> Hilfsmittel <a href="/about" target="_self">Siehe hier!</a></p>
<p> Ein paar Infos und bash-commands <a href="/terminal" target="_self">Siehe hier!</a></p>

<h1 style = "color:purple"> Meine Posts </h1>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
    </div>
</div>

</body>
</html>
