{% load static %}
<html>
<head>
  <title> Katharinas Django Page </title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<div class="page-header">
    <a href="{% url 'home' %}"class="top-menu" ><span class="glyphicon glyphicon-home"></span></a>
    <h1><a href="/">Katharinas Django Page</a></h1>
</div>


<body>

<h1> Das wäre also Katharinas erste Django-Webpage! </h1>
<h3> Erstellt mit Hilfe folgender Tutorials: </h3>
  <ul>
    <li> <a href="https://djangogirls.org" target="_blank">DjangoGirls Tutorial</a> </li>
    <li> <a href="https://docs.djangoproject.com/en/3.0/intro/tutorial01/" target="_blank">Official Django Tutorial </a> </li>
    <li> <a href="https://tutorial-extensions.djangogirls.org/en/" target="_blank"> DjangoGirls Tutorial Extensions </a> </li>
  </ul>

<h3> Weitere Hilfsmittel: </h3>
<ul>
<li> Einführung in <a href="{% url 'html_learning' %}"> HTML und CSS </a> </li>
<li> Einführung in <a href= "{% url 'python_learning' %}" target="_self"> Python </a></li>
<li> Einführung in <a href="{% url 'terminal_learning' %}" target="_self">Bash-commands and git </a></li>
<li> ... und einige <a href = "{% url 'other_learning' %}" target="_self"> andere </a> Hilfsmittel </li>
</ul>

<hr>
<h3><a href="{% url 'polls_list' %}"> Polls page </a></h3>
<hr>
<h3><a href="{% url 'post_list' %}"> Blog page </a></h3>
<hr>
<h3><a href= "{% url 'python_blog' %}" target="_self">  Python </a></h3>
<hr>





</body>
</html>
