<html>

<div class="page-header">
    <a href="{% url 'home' %}"class="top-menu" ><span class="glyphicon glyphicon-home"></span></a>
    <h1><a href="/">Katharinas Django Blog</a></h1>
</div>

<!-- Write your comments here -->
  <head>
    <style>
      body {background-color: rgb(238, 130, 238, 0.2);}
      h1   {color: rgb(238, 130, 238);}
      h2   {color: rgb(106, 90, 205);}
      p    {font-family: courier;}
</style>
    <meta charset="utf-8">
    <title> This is the page where I learn HTML </title>
  </head>
  <body>
  <h2>  HTML commands I learned: </h2>
  <ol>
    <li> The tag <mark> head </mark> and <mark> title </mark> define what is shown in the top bar, not on the page itself. </li>
    <li> The tag <mark> body</mark> defines what is shown on the page. </li>
    <li> The tags <mark> h1, h2, ..., h6 </mark> define the headings. </li>
    <li> The tag <mark> p </mark> stands for paragraph. </li>
    <li> The tag <mark> a </mark> is used for links, e.g., the link to this tutorial: <a href="https://www.w3schools.com/html/">This is a link </a> </li>
    <li> The tag <mark> ol </mark> stands for ordered list, <mark> ul </mark> for unordered list. <mark> li </mark> are the list elements. </li>
    <li> Line breaks are made with <br> a <mark> br </mark> tag. This is called an empty element, no end tag needed. </li>
    <li> Horizontal lines can be included using <mark> hr </mark> </li>
    <li> The tags <mark> b, strong </mark> display items in <b> bold</b>, but strong means important! </li>
    <li> The tags <mark> i, em </mark> displays items in <i> italic</i>, but em means important! </li>
    <li> The tag <mark> small </mark> can make some words <small> smaller </small> than others. </li>
    <li> The tag <mark> mark </mark> marks words. </li>
    <li> The tag <mark> del </mark> can <del> cross out </del> words. </li>
    <li> The tag <mark> ins </mark> can <ins> underline </ins> words. </li>
    <li> The tag <mark> sub </mark> can <sub> subscripts </sub> text and <mark> sup </mark> can <sup> superscript </sup> words. </li>
  </ol>

<p style="color:red"> The <mark> style </mark> parameters can be used to define color, font, size </p>
<button title = "my button"> This is a button with the name "my button". </button>
<p style="font-size:20px;"> Font sizes can be specified for single paragraphs using <mark> font-size:20px </mark> </p>
<p style="background-color:powderblue;"> Background colors can be defined in the style part as well! </p>
<p style="font-family:verdana;"> Fonts can be defined in the style part as well! </p>
<p style="text-align:center;"> The style attribute <mark> text-align: center </mark> can center elements.</p>
<p> With q <q> we can make quotations. </q> </p>
<p style = "border:2px solid Violet; padding: 30px;"> We can make a box around elements!: style = "border:2px solid Violet; padding: 30px;" </p>

<hr>

<h2>  Good to know: </h2>
<pre>
With <mark> pre </mark> you can add preformatted text.

HTML is NOT case sensitive.

</pre>
What does <abbr title = "Hypertext Markup Language"> HTML </abbr> stand for?

<hr>

<h2>  To Do </h2>
What is the path of an image?
<img src = "djangoGirlsLogo" >

hr style??
<hr>


  </body>
</html>
