<html>
<head>
  <title> Katharinas Blog </title>
</head>

<h1> Das wäre also Katharinas erste Webpage </h1>
<h2> Ja genau, ganz alleine gemacht! </h2>
<h3> Hochgeladen am: 03.04.2020 </h3>
<body>
<div>
<p> Ganz schön viel Werkzeug braucht man da aber, nämlich: </p>
<ul>
  <li> Einführung in die Console </li>
  <li> Einführung in Python </li>
  <li> Einführung in Django </li>
  <li> Einführung in HTML </li>
  <li> und Verknüpfungen davon (ok ok <em>alles</em> hab ich nicht verstanden) </li>
</ul>
</div>
  <p style = "color:red"> Wie das geht? Nachzulesen bei: <a href="https://djangogirls.org">link</a></p>
  <p style = "color:green"> Danke an Alexandra für den Tipp bzgl Django Girls :-) </p>
  <button> Click me </button>
<p title = "Erwischt :-)">
Ich bin ein neuer Paragraph - was verbirgt sich hinter mit?
</p>
<p> So, jetzt aber zur eigentlichen Aufgabe: </p>
<h1> Meine Posts </h1>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2> <a href=''> {{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
</body>
</html>
