{% load static %}
<html>
<head>
  <title> Katharinas Django Page </title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<div class="page-header">
    <a href="{% url 'home' %}"class="top-menu" ><span class="glyphicon glyphicon-home"></span></a>
    <h1><a href="/">Katharinas Django Page</a></h1>
</div>

<body>
  <p> Working through the book "Automate the boring stuff with Python" </p>

<hr>

<script>
function show(id) {
    if(document.getElementById) {
        var mydiv = document.getElementById(id);
        mydiv.style.display = (mydiv.style.display=='block'?'none':'block');
    }
}
</script>

<h3> <a href="" onclick="javascript:show('divChapter1'); return false"> Chapter 1: Python Basics </a> </h3>
<div style="display: none" id="divChapter1">
  <ul>
    <li> Variable names in Python can contain letters, numbers and _, but must start with a letter </li>
    <li> Variables are assigned with = </li>
    <li> Python uses the common operators: +, -, *, /. // gives back the integer part of the division, % the remainder. ** powers. </li>
    <li> str(), int(), float() will evaluate the input as string, integer and float. </li>
    <li> print() displays the argument. </li>
    <li> len() gives the length of a string. </li>
    <li> input() asks the user for input. </li>
  </ul>
</div>

<hr>

<h3> <a href="" onclick="javascript:show('divChapter2'); return false"> Chapter 2: Flow control </a> </h3>
  <div style="display: none" id="divChapter2">
  <ul>
    <li> Boolean values in Python are "True" and "False". </li>
    <li> The three Boolean operators are "and", "or" and "not". </li>
    <li> The six comparison operators are: ==, !=, <, <=, >, >= </li>
    <li> A Python program can be exited with ctr C; or sys.exit() in the code. </li>
    <li> The function range() can take 1, 2 or 3 arguments. (from, to by) </li>
    <li> Importing packages in Python needs "import ..." at the beginning, e.g., import random </li>
    <li> Function from an imprted module are called with module.function(), e.g., random.randint(5) </li>
    <li> if condition: do..., elif, else  </li>
    <li> while condition: do..., you can break with "break" or continue with "continue" </li>
    <li> for i in range(5): condition... </li>
    <li> input() asks the user for input. </li>
  </ul>
</div>

<hr>


<h3> <a href="" onclick="javascript:show('divChapter3'); return false"> Chapter 3: Functions </a> </h3>
    <div style="display: none" id="divChapter3">
  <ul>
    <li> A function is defined with def functionName():  </li>
    <li> Return values are given with the <em> return </em> command. </li>
    <li> The None value: E.g. print() has no return value, it returns None. </li>
    <li> Python distinguishes between local and global values: local values within functions are deleted after the function call. </li>
    <li> Within functions, Python does not fall back to globally defined variables, e.g. <br>
        <em> eggs = "hi" <br>
             def spam(): <br>
             print(eggs) <br>
             eggs = "hallo" <br>
             spam() <br>
        would give an error message: UnboundLocalError </em> </li>
      <li> The try: except clause can avoid function being stopped because of errors. </li>
  </ul>
</div>

<hr>


<h3> <a href="" onclick="javascript:show('divChapter4'); return false"> Chapter 4: Lists </a> </h3>
      <div style="display: none" id="divChapter4">
  <ul>
    <li> Lists are created with brackets: [...]  </li>
    <li> Lists indexing starts at 0. list[0:i] does not include the elemt indexed with i. </li>
    <li> list[:i] gives the list elements 0 to i-1, list[i:] gives list elements i until the last one. </li>
    <li> Lists of lists are indexed with list[i][j]. </li>
    <li> Negative indexing starts at -1, i.e., list[-1] gives the last element. </li>
    <li> Lists can be concatenated with + and replicated with * </li>
    <li> del list[i] removes the list element with index i. </li>
    <li> in and not in can be used to check whether elements are part of a list. </li>
    <li> Lists can be used to simultaneously assign values to many variables, like a,b,c = ["hi", "hallo", "goodby"] </li>
    <li> +=, *=, -=, /=, %= are shortcuts for list = list + ..,... </li>
    <li> Methods are functions specific for a data type, and called with list.method() </li>
    <li> Methods for lists are: index(element), append(elemet), insert(index, element), remove(element) </li>
    <li> Careful with remove and index: only gives back information on the first appearance </li>
    <li> The sort() method uses ASCIIbetical order, i.e., uppercase A-Z, then lower case a-z; sort(key = str.lower) helps for alphabetical sorting </li>
    <li> Applying methods on lists change the immediately, myList = myList.append("hallo") gives back None. </li>
    <li> Tuples and strings are list-like but immutable </li>
    <li> To create a tuple with one elements, one needs a trailing comma, i.e., myTuple = ("Hallo",) </li>
    <li> str(), tuple() and list() can be used to change the type </li>
    <li> Variables store reference to lists, not the list itself! </li>
    <li> copy() and deepcopy() can be used to make a copy of a list (or a list of lists), not only reference the list. </li>
  </ul>
</div>

<hr>

<h3> <a href="" onclick="javascript:show('divChapter5'); return false"> Chapter 5: Dictionaries and structuring data </a> </h3>
        <div style="display: none" id="divChapter5">
  <ul>
    <li> While lists are ordered, dictionaries are unordered. </li>
    <li> dict = {key1: value1, key2: value2,..., keyN, valueN} </li>
    <li> Values in dictionaries can be accessed by dict[key1]. </li>
    <li> The methods keys(), values() and items() access the keys, values and items (tuples of keys and values) </li>
    <li> <em> 'eggs' in picnicItems </em> is the same as <em> 'eggs' in picnicItems.keys() </em> </li>
    <li> The method get() either gets the values of the given key or returns a default value: picnicItems.get('eggs', 0) </li>
    <li> The setdefault() method can set a default value, but not changing the value in case the key exists. </li>
    <li> Dictionaries can contain dictionaries as values </li>
  </ul>
</div>

<hr>

<h3> <a href="" onclick="javascript:show('divChapter6'); return false"> Chapter 6: Manipulating strings </a> </h3>
          <div style="display: none" id="divChapter6">
  <ul>
    <li> Escape characters in strings are: \', \", \t, \n, \\. </li>
    <li> print(r"blabla\nblabla") will print escape characters. </li>
    <li> Multiline strings """ consider the formatting (tabs, new lines) when printing. </li>
    <li> The <em> in </em> and <em> not in </em> operators work for strings too! ("Hallo" in "Hallo du") </li>
    <li> The string methods .upper(), .lower() convert to upper/lower-case string only. </li>
    <li> The isX methods (.isupper(), .islower(), isalpha(), isalnum(), isdecomal()) return a Boolean value. </li>
    <li> The methods .startswith() and .endswith() check for string beginnings and endings. </li>
    <li> Splitting strings: "My name is Kathi.".split("a") gives ["My n", "me is K", "thi."] </li>
    <li> Joining strings: "a".join(["My n", "me is K", "thi."]) gives "My name is Kathi." </li>
    <li> .rjust(n, "*"), ljust(n, "*") and center(n, "*") insert "*" to the left, right or both sides, to make the string n characters long. </li>
  </ul>
</div>

<hr>


<h3> <a href="" onclick="javascript:show('divErrors'); return false"> Errors: </a> </h3>
          <div style="display: none" id="divErrors">
<ul>
  <li> ZeroDivisionError  </li>
  <li> NameError (e.g. you refer to a variable name that does not exist) </li>
  <li> TypeError (e.g. using a list method on a string) </li>
  <li> UnboundLocalError (e.g. defining a local variable only after it is called in a function) </li>
  <li> ValueError (e.g. using the method index calling an index that does not exist in a list) </li>
  <li> AttributeError (e.g. using the method append on a string, not list) </li>
  <li> KeyError (e.g. Asking for a key in a dictionary that is not defined) </li>
</ul>
</div>

<hr>


<h3> <a href="" onclick="javascript:show('divNotes'); return false"> General notes (working on OS) </a> </h3>
            <div style="display: none" id="divNotes">

  <ul>
    <li> Importing modules: <em> sudo pip3 install ModuleName </em> </li>
    <li> Running on terminal: Either <em> python3 myProgram.py </em> or first line #! python3 in the script. </li>
  </ul>


<body>

</body>
</html>
