{% load static %}
<html>
<head>
  <title> Katharinas Blog </title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
  <h1> Terminal commands good to know </h1>
<div>
  <ul>
    <li> <em> cd </em> change directory: make sure you are in the right directory! </li>
    <li> <em> source myvenv/bin/activate </em>: start working in virtual environment </li>
    <li> <em> python manage.py runserver </em>: Run webpage locally </li>
</ul>
</div>

<h1> Deployment </h1>
<div>
<ul>
  <li> <em> git status </em>  </li>
  <li> <em> git add --all . </em> </li>
  <li> <em> git commit -m "I have changed ..." </em> </li>
  <li> <em> git push </em>: Pushes new changes to gitHub </li> 
</ul>
</div>

<button> <a href="http://127.0.0.1:8000" target="_self">Zurück zur Hauptseite</a> </button>
<body>

</body>
</html>
